body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {    
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
  
.icon, .icon_header {    
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
  'sidebar header header header'
  'sidebar main main main';
  height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}
/* End Header */

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none; 
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-image {
  text-decoration: none;
  align-items: center;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /* 
      we want the z-index of the sidebar higher so that 
      the charts are not showing over the sidebar 
      on small screens
  */
  z-index: 12 !important;
}
/* End Sidebar */

/* Main */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card_icon{
  width: 30%;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}
/* End Main */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
          'header'
          'main';
  }

  #sidebar {
      display: none;
  }

  menu-icon { 
      display: inline; 
  }

  .sidebar-title > span { 
      display: inline;
  }
}

/* Small < 768px */
@media screen and (max-width: 768px) {
  .main-cards {
  grid-template-columns: 1fr; 
  gap: 10px;
  margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr; 
    margin-top: 30px;
  } 
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

/* Navbar */
.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  
  .wrapper {  
      width: 100%;  
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search {
          display: flex;
          align-items: center;
          background-color: 0.5px solid lightgray;

          input {
              &::placeholder {
                  font-size: 12px;
              }
          }
      }

      .items {
          display: flex;
          align-items: center;
          
          .item {
              display: flex;
              align-items: center;
              margin-right: 20px;
              position: relative;
              background-color: solid lightgray;

              .avatar {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
              }

              .counter {
                  width: 15px;
                  height: 15px;
                  background-color: red;
                  border-radius: 50%;
                  color: white;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 10px;
                  font-weight: bold;
                  position: absolute;
                  top: -5px;
                  right: -5px;
              }
          }
      }
  }
}
/* End Navbar */

/* Pie Chart */
.featured, .bar, .Table {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    .title {
      font-size: 16px;
      font-weight: 500;
      color: gray;
    }
  }

  .bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .featuredChart {
      width: 100px;
      height: 100px;
      /* font-size: 5px; */
    }
  }

  .grid {
      stroke: rgb(228, 225, 225);
  }
}
/* End Pie Chart */

/* Student Query */  
.Table td, th {
  border: none !important;

  .status {
      padding: 8px;
      border-radius: 9px;
  }
}
/* End Student Query */

/* Area Chart */
.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }
}
/* End Area Chart */

.listContainer {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;

  .listTitle {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
  }
}

/* Table */
.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 25px;
      margin-right: 10px;
      object-fit: cover;
    }
  }
}
/* End Table */
/* End Main */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
          'header'
          'main';
  }

  #sidebar {
      display: none;
  }

  menu-icon { 
      display: inline; 
  }

  .sidebar-title > span { 
      display: inline;
  }
}